body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333; 
}

/* 流体框架 */
.container-fluid { position:relative;
width:450px; height:800px; background: url(../../images/playsnow/bg.jpg) no-repeat #FFF;
}
