@charset "utf-8";
.web-top{
	float:left;
	width:100%;
	min-width:1200px;
	height:35px;
	border-bottom:1px solid #ededed;
	background:#f9f7f6}
.web-top .wm-1200{
	height:35px;}
.notice-txt{
	float:left;
	color:#666;
	width:300px;
	height:35px;
	line-height:35px;
	font-size:12px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;}
.scroll-order{
	float:left;
	width:300px;
	height:35px;
	overflow:hidden;
	margin:0 10px}
.scroll-order ul{
	float:left;}
.scroll-order ul li{
	float:left;
	color:#f39700;
	width:300px;
	height:35px;
	line-height:35px}

.top-login{
	float:right;
	max-width:580px}
.top-login a,
.top-login dl.dh dt{
	float:left;
	color:#333;
	height:35px;
	line-height:35px;
	padding:0 10px;
	cursor:pointer}
.top-login a.dd i,
.top-login dl.dh dt i,
.top-login a.lx_us i{
	display:block;
	float:left;
	width:12px;
	height:12px;
	margin-top:11px;
	background:url(../images/top-ico.png) no-repeat}
.top-login a.dd i{
	background-position:0 -35px}
.top-login dl.dh dt i{
	background-position:0 -64px}
.top-login a.lx_us i{
	margin-right:3px;
	background-position:0 -95px}
.top-login dl.dh{
	float:left;
	position:relative;
	z-index:9999;
	border:1px solid #f9f7f6;
	border-bottom:0}
.top-login dl.dh dd{
	display:none;
	position:absolute;
	z-index:9999;
	right:-1px;
	top:35px;
	width:140px;
	padding:0 10px;
	border:1px solid #eee;
	border-top:0;
	background:#fff}
.top-login dl.dh dd a{
	width:70px;
	padding:0;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.top-login dl.dh dd a:hover{
	color:#f60}

.top-column-banner{
	float:left;
	width:100%;
	min-width:1200px;
	height:80px;
	overflow:hidden;
	position:relative;
	z-index:999}
.top-column-banner .top-closed{
	display:block;
	width:16px;
	height:16px;
	margin-top:5px;
	position:absolute;
	left:50%;
	top:5px;
	margin-left:605px;
	z-index:9999;
	cursor:pointer;
	-webkit-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-moz-transition:all 0.3s;
	background:url(../images/hp-closed.png) left no-repeat}
.top-column-banner .top-closed:hover{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg)}
.top-column-banner a{
	display:block;
	width:1920px;
	position:absolute;
	z-index:999;
	left:50%;
	top:0;
	margin-left:-960px;
	overflow:hidden}
.top-column-banner a img{
	float:left;
	width:100%;
	height:80px}

.st-header{
	float:left;
	width:100%;
	min-width:1200px;
	padding:30px 0;
	background:#fff}
.st-header .st-logo{
	float:left;
	max-width:320px;
	max-height:80px;
	overflow:hidden}
.st-top-search{
	width:571px;
	height:34px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-18px 0 0 -240px;
	border:1px solid #00b7ee;
	border-radius:3px;
	background:#fff}
.st-top-search .st-search-down{
	float:left;
	color:#333;
	width:90px;
	height:34px;
	position:relative;
	cursor:pointer;
	border-right:1px solid #e5e5e5}
.st-top-search .st-search-down strong{
	float:left;
	width:70px;
	height:34px;
	line-height:34px;
	padding-left:20px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	background:#f8f8f8}
.st-top-search .st-search-down strong i{
	float:right;
	width:11px;
	height:6px;
	margin:14px 12px 0 0;
	transition:all 0.3s;
	background:url(../images/st-line-ico.png) no-repeat 0 -53px}
.st-top-search .st-search-down:hover strong i{
	transform:rotate(180deg)}
.st-top-search .st-search-down .st-down-select{
	display:none;
	position:absolute;
	left:-1px;
	top:34px;
	z-index:9999;
	width:92px;
	background:#fff}
.st-top-search .st-search-down:hover .st-down-select{
	display:block}
.st-top-search .st-search-down .st-down-select li{
	float:left;
	width:70px;
	height:34px;
	line-height:34px;
	padding-left:20px;
	margin-top:-1px;
	border:1px solid #e5e5e5}
.st-top-search .st-search-down .st-down-select li:hover{
	background:#e5e5e5}
.st-top-search .st-txt{
	float:left;
	width:200px;
	height:34px;
	line-height:34px;
	font-family:'微软雅黑';
	padding-left:10px}
.st-top-search span{
	float:left;
	width:190px;
	height:34px;
	overflow:hidden}
.st-top-search span a{
	float:left;
	color:#999;
	height:24px;
	line-height:24px;
	padding:0 10px;
	margin:5px 5px 0 0;
	border-radius:3px;
	background:#f3f3f3}
.st-top-search span a:hover{
	color:#009fde}
.st-top-search .st-btn{
	float:right;
	color:#fff;
	width:80px;
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	background:#00b7ee}
.st-link-way{
	float:right;
	height:46px;
	padding-left:55px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-23px;
	background:url(../images/24hours-ico.png) left no-repeat}
.st-link-way strong{
	font-size:16px}
.st-link-way em{
	font-size:22px;
	font-family:Arial}
.st-link-way strong,
.st-link-way em{
	color:#0082dd;
	display:block;
	font-style:normal}

.st-nav{
	float:left;
	width:100%;
	min-width:1200px;
	height:45px;
	background:#00b7ee}
.st-global{
	float:left;
	width:220px;
	height:45px;
	position:relative}
.st-global .global-bt{
	float:left;
	color:#fff;
	width:220px;
	height:45px;
	line-height:45px;
	font-size:16px;
	text-align:center;
	background:#009fde}
.st-global .global-list{
	float:left;
	position:relative;
	z-index:99999;
	width:220px;
	height:360px;
	background:#fff}
.gl-list-tabbox{
	float:left;
	width:220px;
	height:59px;
	border-bottom:1px solid #e8e8e8}
.gl-list-tabbox h3{
	float:left;
	width:196px;
	height:59px;
	padding:0 10px;
	position:relative;
	border-left:3px solid #fff;
	border-right:1px solid #fff}
.gl-list-tabbox h3.hover{
	margin-top:-1px;
	z-index:9999;
	border-top:1px solid #00b7ee;
	border-right:1px solid #fff;
	border-left:3px solid #00b7ee;
	border-bottom:1px solid #00b7ee}
.gl-list-tabbox h3 strong{
	float:left;
	width:196px;
	height:24px;
	line-height:24px;
	margin-top:8px;
	font-size:14px}
.gl-list-tabbox h3 strong em{
	margin:4px 5px 0 0}
.gl-list-tabbox h3 strong em,
.gl-list-tabbox h3 strong em img{
	float:left;
	width:16px;
	height:16px;
	overflow:hidden}
.gl-list-tabbox h3 strong a{
	color:#333;
	float:left;
	font-size:16px}
.gl-list-tabbox h3 strong a:hover,
.gl-list-tabbox h3 p a:hover{
	color:#f60}
.gl-list-tabbox h3 p{
	float:left;
	width:175px;
	height:20px;
	padding-left:21px;
	overflow:hidden}
.gl-list-tabbox h3 p a{
	float:left;
	color:#8c9093;
	height:20px;
	line-height:20px;
	margin-right:5px}
.gl-list-tabbox h3 .arrow-rig{
	position:absolute;
	right:10px;
	top:50%;
	display:block;
	width:6px;
	height:11px;
	margin-top:-5px;
	background:url(../images/arrow-right-ico2.png) left no-repeat}

.tabcon-item{
	display:none;
	position:absolute;
	left:219px;
	top:0;
	z-index:999;
	width:979px;
	min-height:358px;
	border:1px solid #00b7ee;
	background:#fff}
.tabcon-item .item-list{
	float:left;
	width:980px;}
.tabcon-item .item-list dl{
	float:left;
	width:450px;
	padding:10px 20px}
.tabcon-item .item-list dl dt,
.tabcon-item .item-list dl dt a{
	float:left;
	color:#333;
	width:450px;
	height:30px;
	line-height:30px;
	font-size:14px}
.tabcon-item .item-list dl dt{
	border-bottom:1px solid #e8e8e8}
.tabcon-item .item-list dl dd{
	float:left;
	width:450px;
	margin-top:10px}
.tabcon-item .item-list dl dd a{
	float:left;
	color:#333;
	height:24px;
	line-height:24px;
	margin-right:15px}
.tabcon-item .item-list dl dt a:hover,
.tabcon-item .item-list dl dd a:hover{
	color:#f60}
.tabcon-item .ad-box{
	float:left;
	width:980px;
	overflow:hidden}
	



.st-menu{
	float:left;
	width:980px;
	height:45px}
.st-menu a{
	float:left;
	color:#fff;
	height:45px;
	line-height:45px;
	padding:0 20px;
	font-size:16px;
	position:relative}	
.st-menu a.active{
	height:42px;
	border-bottom:3px solid #0071ad;
	background:#0088d0}
.st-menu a.active s{
	display:block;
	width:9px;
	height:4px;
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-4px;
	background:url(../images/st-menu-list-ico.png) no-repeat 0 bottom}
.st-menu a i{
	display:block;
	width:15px;
	height:18px;
	position:absolute;
	top:-5px;
	right:0;
	background:url(../images/st-menu-list-ico.png) no-repeat}
.st-menu a i.st-hot-ico{
	background-position:0 0}
.st-menu a i.st-new-ico{
	background-position:0 -18px}
.st-menu a i.st-jing-ico{
	background-position:0 -36px}
.st-menu a i.st-jian-ico{
	background-position:0 -54px}































