<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>站点名称</title>
<!-- 基础框架 bootstrap CSS 文件 -->
<link rel="stylesheet" type="text/css" href="../style/bootstrap-min.css" />
<!-- 页面公用 public CSS 文件 -->
<link rel="stylesheet" type="text/css" href="../style/public.css" />
<!-- 布局版面 layout CSS 文件-->
<link rel="stylesheet" type="text/css" href="style/activity-Join.css" />
</head>
<body>
<header><img src="../images/header.jpg" width="100%"></header>
<section>
  <div class="container">
    <div class="join-box">
      <div class="join-peo"><img src="../test-img/pic1_100_100.jpg"> </div>
      <div class="join-box-b">
        <p>已经获得100助力<br>
          大家快来帮我吧</p>
        <img src="../images/join-box-b.jpg" width="100%">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="join-top">
      <div class="joinName">潘思琪<span class="num">（编号1）</span></div>
      <div class="joinJust">兑换了西藏七日游</div>
      <div class="join-box-m">
         <div class="join-box-m-l"><img src="../test-img/huodogn.jpg"></div>
         <div class="join-box-m-r"><p>西藏七日游</p><p>价值:3000元</p><p>助力值:5</p><p>剩余数量:50</p></div>
         <div class="clearfix"></div>
      </div>
    </div>
    <div class="help-button"><a href="#" class="help-success">已兑换,不能助力了</a><a href="#" class="help-me">我也要参加</a></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="join-friend">
      <table class="table table-Border">
        <tr>
          <th>序号</th>
          <th>助力好友</th>
          <th>助力时间</th>
        </tr>
        <tr>
          <td>101</td>
          <td>张三</td>
          <td>2016.1.1 11：11</td>
        </tr>
        <tr>
          <td>100</td>
          <td>张三</td>
          <td>2016.1.1 11：11</td>
        </tr>
        <tr>
          <td colspan="3"><!-- 分页开始 -->
            
            <div id="Pagination"><a class="prev" href="#">上一页</a><a class="current">1/10</a><a class="next" href="#">下一页</a></div>
            
            <!-- 分页结束 --></td>
        </tr>
      </table>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="join-regular">
      <div class="contit"><img src="../images/regular.jpg" width="100%"></div>
      <div class="conbox">
        <p> 1、选择你想要的礼物，邀请好友助力，达到助力值就可以兑换礼物了，每人可兑换1次；</p>
        <p>2、未达到助力数，仍然可以兑换其他礼品；</p>
        <p>3、礼物兑完为止，所以该出手时就出手；</p>
        <p>4、只有石家庄的好友才能助力。 
      </div>
      <div class="regular-button"><a href="">查看活动详情</a></div>
    </div>
  </div>
</section>
<footer></footer>
<script src="../js/jquery-1.11.3.min.js"></script><!-- jQuery库 --> 
<script src="js/activity-Join.js"></script><!-- 常用bootstrap jQuery库 -->
</body>
</html>
