img{ width:100%;}
ul{list-style:none; margin:0; padding:0;}
li{margin:0; padding:0;}
a{display:block;}
a:hover, a:focus{background:transparent; text-decoration:none; outline:0;}

.ui-NavBottom{position:fixed; bottom:0; width:100%; background-color:rgba(220,57,16,0.9); border-top:1px solid #db380f;}
.ui-NavBottom li{width:33.333%; float:left;}
.ui-NavBottom a{display:block; padding:1rem 0; text-align:center; color:#fff; border-left:1px solid #ff8201;}
.ui-NavBottom li:first-child a{border:none;}