/* 公用 public CSS 文件 */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
	background:#facb57;
}
a { display:block;
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
   text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* 流体框架 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.activity-button{ background:#e92e4d; padding:10px 20px; border-radius:8px;}
.activity-button a{ color:#FFF; text-align:center;}
.activity-nobutton{ background:#b2b2b2; padding:10px 20px; border-radius:8px;}
.activity-nobutton a{ color:#e6e6e6; text-align:center;}
.help-button{ }
.help-his{ background:#096;padding:10px 0;border-radius:8px 0 0 8px; }
.help-me{background:#e92e4d;padding:10px 0;border-radius:0 8px 8px 0;}
.help-success{ background: #999; color:#CCC;padding:10px 0;border-radius:8px 0 0 8px;}

.help-button a{ color:#FFF; text-align:center; width:50%; display:inline-block; }
.join-button{  width:50%; border-radius:8px; margin:10px auto; font-size:1.2em;}
.join-button a{ color:#FFF; text-align:center;}

/* 分页开始 */
 #Pagination {
	overflow: hidden;margin: 0 auto;
}
 #Pagination a{ }

 #Pagination a,#Pagination span {
	border-radius:3px;
	margin-right: 5px;
	 display:inline-block;
	padding:5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #0d2c49;
	color:#FFF;
	font-family: \u5b8b\u4f53, Arial;
	font-size: 14px;
	cursor: pointer;
}
#Pagination .current {
	background: #00a0e9;
	color: #fff;
}
#Pagination .prev, .pages #Pagination .next {
    display:inline-block;
	background: #0d2c49; border-radius:3px;
	color: #fff;
	cursor: pointer;
}

/* 分页结束 */
.footer{ width:100%; height:45px; position:fixed; z-index: 999;left:0; bottom:0; background:#0d2c49;filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;  }
.footer li{ width:33.33%; float:left; display:inline-block; text-align:center;}

.footer a{ color:#FFF; position:relative; border-right:1px solid #FFF; display:block; line-height:45px;}
.footer .last-child{ border-right: none}
.none-box{ height:55px;}
.footer .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -14px;
	width: 30px;
	height: 30px;
}
.footer .ui-txt {margin-left:35px;}
.footer .ico00{ background:url(/phone/public/images/activity/ico00.png); background-size:30px;}
.footer .ico01{ background:url(/phone/public/images/activity/ico01.png); background-size:30px;}
.footer .ico02{ background:url(/phone/public/images/activity/ico02.png); background-size:30px;}
.mask-img{position:absolute; top:0; width:100%; height:100%;}