@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑";margin:0;padding:0; font-size:12px;}
body{ min-width:320px;}
ul,ol,li{list-style:none;}
a{ text-decoration:none; blr:expression(this.onFocus=this.blur())}
:focus{ outline:0;}
textarea{ outline:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both; height:0; overflow:hidden;}
img{ border:none;}
.bj-hui{ background:#F4F9FB;}
.xian-x{ margin-top:8px; border-bottom:1px dashed #dfdfdf;}


/*流年音符*/
.top-tishi{ background:#393A3F; padding:10px; color:#fff;}
.sjz{ background:url(/res/images/phone/sjz.jpg) repeat-y 30px 0px; margin:0px 10px; padding-bottom:20px; }
.yuefen{ background:#738993; color:#fff; border:1px solid #5C7078; border-radius:100px; display:inline-block; padding:4px 15px; margin:10px 0px; font-weight:normal; font-size:14px;}
.pic-zhanshi{ position:relative; width:100%; margin-bottom:10px;}
.zhanshitu{  background: url(/res/images/phone/nopic.png) #f1f1f1 no-repeat 50%; height:220px;  overflow:hidden; }
.zhanshitu img{ width:150%; margin-top:-25px; margin-left:-25px;}
.zhedang{ background:url(/res/images/phone/tmbj.png) repeat; position:absolute; bottom:0px; width:100%; border-radius:0px 0px 5px 5px;}
.biaoti{ font-size:14px; color:#fff; padding:10px;}
.shijian{ color:#ddd; padding-right:10px; line-height:14px; margin-top:12px;}
.icon-shijian{ padding:7px; background:url(/res/images/phone/sj-time.png) no-repeat; background-size:100%; color:#fff; margin-right:5px; position:relative; top:9px;}




/*流年回顾*/
.xxk{ position:fixed; top:0px; width:100%; z-index:9999;}
.xxk li{ width:25%; float:left;}
.xxk li a{ display:block; float:left; background:#393A3F; border-bottom:3px solid #393A3F; font-size:14px; color:#fff; text-align:center; width:100%; padding:10px 0px;}
.xxk li a:hover, .xxk li .on{background:#2C2D30; border-bottom:3px solid #FF9300; }
.sjz-cd{ background:url(/res/images/phone/sjz.jpg) repeat-y 30px 0px; margin:10px 0 0px 0; padding-bottom:20px; }
.biaoti-yj{font-size:16px; color:#fff; padding:10px 10px 5px 10px;}
.biaoti-yj span{ padding:3px;}
.fbiaoti-yj{ font-size:12px; color:#ddd; line-height:14px; margin:0px 10px 10px 10px;}
.bzxx{color:#ddd; line-height:14px; margin:0px 10px 10px 0px;}
.bzxx2{color:#ddd; line-height:14px; margin:0px 0px 10px 10px;}
.icon-dt{ padding:7px; background:url(/res/images/phone/dt.png) no-repeat; background-size:100%; color:#fff; margin-right:2px; position:relative; top:9px;}
.icon-pl{ padding:7px; background:url(/res/images/phone/pl.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:9px;}
.icon-yd{ padding:7px; background:url(/res/images/phone/yd.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:9px;}


/*流年记事*/
.jishi-zhanshi{ box-shadow:0 0 7px #aaa; border-radius:5px; overflow:hidden; background:#fff; margin-bottom:10px;}
.tpzs{ margin:5px;}
.jishi-zhanshi p{color:#666;}
.jishi-zhanshi .bzxx{ margin:0px 0px 2px 10px;}
.jishi-zhanshi .fbiaoti-yj{ margin:0px 10px 0px 10px;}
.jishi-zhanshi .biaoti-yj{font-size:16px; color:#FF6300; padding:10px 10px 5px 10px;}
.yjjj{ margin:5px 10px 15px 10px; line-height:18px; height:36px; overflow:hidden; display: box; display: -webkit-box; display: -moz-box; text-overflow:ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp:2;}
.icon-pl-hui{ padding:7px; background:url(/res/images/phone/pl-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:9px;}
.icon-yd-hui{ padding:7px; background:url(/res/images/phone/yd-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:9px;}
.icon-shijian-hui{ padding:7px; background:url(/res/images/phone/sj-time-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:5px; position:relative; top:9px;}
.icon-bj-hui{ padding:7px; background:url(/res/images/phone/bj-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:5px; position:relative; top:9px;}
.icon-bj{ padding:7px; background:url(/res/images/phone/bij.png) no-repeat; background-size:100%; color:#fff; margin-right:5px; position:relative; top:9px;}


.zhedang2{ background:url(/res/images/phone/tm.png) repeat; position:absolute; bottom:0px; width:100%; border-radius:0px 0px 5px 5px;}
.zhanshitu2{   background: url(/res/images/phone/nopic.png) #f1f1f1 no-repeat 50%; height:220px;  overflow:hidden;}
.zhanshitu2 img{ height:220px; margin-left:-25%;}
.jsrq{ position:absolute; top:15px; right:15px; z-index:2; box-shadow:0px 0px 5px #666; width:60px; background:#fff; border-radius:3px; overflow:hidden;}
.jsrq h6{ padding:2px 0px; color:#fff; text-align:center; background:#F90; border-bottom:2px solid #F60; }
.jsrq .ywrq{ color:#f90; font-size:18px; padding:6px 0px; text-align:center; font-weight:bold;}
.jsrq .ywrq .jt{ font-size:16px; font-weight:bold;}


/*毒舌评景区*/
.zhedang-center{background:url(/res/images/phone/tm.png) repeat center; height:94px; position:absolute; top:50%; margin-top:-47px; border-radius:5px; border:1px dashed #bbb; text-align:center; width:80%; margin-left:10%;}
.nr{background:url(/res/images/phone/tm.png) repeat center; margin:10px; padding:5px;}
.zhedang-center .biaoti-yj{ text-align:center; font-size:18px; height:20px; overflow:hidden;}
.zhedang-center .zsxx{ text-align:center;}
.zhedang-center .zsxx .bzxx{ display:inline-block;}


/*你没见过的风景*/
.zhedang-cen{background:url(/res/images/phone/tm.png) repeat center; height:100px; position:absolute; top:50%; margin-top:-50px; text-align:center; width:100%;}
.zhedang-cen .biaoti-yj{ text-align:center; font-size:18px; height:20px; overflow:hidden; background:url(/res/images/phone/hwx.png) no-repeat center bottom; padding-bottom:22px; margin:10px 20px 2px 20px; text-shadow:0px 0px 3px #666; }
.zhedang-cen .fbt{ color:#eee; font-size:14px;  text-shadow:0px 0px 3px #666;}
.zhedang-cen .zsxx{ text-align:center;}
.zhedang-cen .zsxx .bzxx{ display:inline-block;}



/*流年详情*/
.pic-zhanshi-xq{ position:relative; width:100%; height:220px; background: url(/res/images/phone/nopic.png) #f1f1f1 no-repeat 50%;}
.pic-zhanshi-xq .zhanshitu{ border-radius:0px;}
.zd-ytx{ position:relative;}
.zd-ytx .tx{ width:42px; height:42px; position:absolute; top:7px; left:10px; border-radius:100px; overflow:hidden; border:2px solid #ccc;}
.zd-ytx .xq-txnr{ padding-left:50px;}
.bbj{ padding:10px 0px;}
.bbj .dbt{ font-size:16px; font-weight: normal; color:#ff6000; padding: 0px 10px 10px 10px;}
.bbj .bzxx2{ color:#666;}

.lnxq{ padding:10px 10px 10px 10px; margin-bottom:15px; background:#fff; margin:0px 10px 10px 10px; box-shadow:0px 1px 3px #999; border-radius:5px 5px 5px 5px;}
.lnxq p{ color:#666;}
.lnxq .dbt{ font-size:16px; padding:10px 0px 6px 0px; font-weight: normal; color:#ff6000;}
.twnr p{ line-height:20px; font-size:14px; margin:4px 5px 4px 5px;}
.xqbz{ margin-bottom:10px;}
.xqbz p{margin-right:8px;}

.plnr{ margin:0px 10px 10px 10px; box-shadow:0px 1px 3px #999;}
.plbt{ font-size:14px; font-weight:normal; padding:8px 10px; background:#E2E6E7; color:#212121; border-top:1px solid #ddd;}
.lcpl{ padding-bottom:10px; background:#fff;}
.lcpl li{ border-bottom:1px solid #dfdfdf; margin-right:10px; padding-left:10px; position:relative;}
.lcpl li .pltx{ position:absolute; top:10px; left:10px; width:38px; height:38px; border-radius:100px; border:2px solid #dfdfdf; overflow:hidden;}
.lcpl li .pingl{ padding-left:48px; }
.lcpl { color:#f60;}
.lcpl p{ color:#666;}
.lcpl .yonghu{ font-size:14px; margin-bottom:5px; padding-top:10px; color:#333;}
.lcpl .scsj{ color:#999;}
.lcpl .jtpl{ padding:10px 0px;}
.lcpl .louceng{ background:#f50; color:#fff; padding:2px 8px; margin-top:10px;}
.lcpl .louceng-mr{ background:#83969A; color:#fff; padding:2px 8px;  margin-top:10px;}
.icon-pinglun-big{ padding:9px; background:url(/res/images/phone/pl-p-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:8px;}


.wypl{ position:fixed; bottom:0px; background:#fff; border-top:1px solid #dfdfdf; width:100%;}
.srpl{ padding:0px 10px; margin-right:100px;}
.srpl input{ width:100%; font-size:14px;  padding:10px 0px; border:none; color:#333;}
.but-pl{ position:absolute; top:0px; right:0px;}
.button-dbpl{ display:block; width:100px; text-align:center; font-size:14px; background:#f60; color:#fff; padding:10px 0px;}
.button-dbpl:hover{ background:#f40; }

/*福利社*/
.xxk-fls{ width:100%;}
.xxk-fls li{ width:25%; float:left;}
.xxk-fls li a{ display:block; float:left; background:#fff; border-bottom:3px solid #D8DDE0; font-size:14px; color:#333; text-align:center; width:100%; padding:10px 0px;}
.xxk-fls li a:hover, .xxk-fls li .on{ border-bottom:3px solid #FF9300; color:#f60; }

.wode{ position:fixed; top:70%; right:10px; z-index:99999;}
.wode .my{ width:60px; height:60px; font-size:14px; text-align:center; color:#fff; line-height:60px; background: url(/res/images/phone/tmbj.png) repeat; border-radius:100px; border:1px solid #666;}
.wode a{ display:block; position:relative;}
.wode .sl{ position:absolute; top:-2px; right:5px; background:#ff3300; color:#fff; width:18px; height:18px; line-height:18px; text-align:center; border-radius:100px;}

.jdjs{ position:relative; background:#fff; padding:10px; border-bottom:1px solid #dfdfdf; min-height:86px;}
.jdjs:hover{ background:#f4f4f4;}
.tpjs{ position:absolute; top:10px; left:10px;}
.tpjs img{ width:125px; height:86px;}
.wzjs{ padding-left:135px;}
.wzjs p{ color:#666; margin-bottom:3px;}
.wzjs .bt{ font-size:14px; color:#333; font-weight:bold; margin-bottom:5px;}
.juli strong{ color:#ff6000; font-weight:normal;}
.xingj img{ width:14px;}
.xingj span{ padding-left:5px;}
.jiage span{ padding-right:5px;}
.fulijia{ color:#f60; font-weight:bold; font-size:16px;}
.yuanjia{ color:#999; text-decoration:line-through;}
.jiage .juli{padding-top:5px;}
.gengduo{ display:block; text-align:center; color:#666; font-size:14px; padding:10px;}
.icon-dt-hui{ padding:7px; background:url(/res/images/phone/dt-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:2px; position:relative; top:9px;}


/*我的*/
.my-tishi{ background:#Ff7700; border-bottom:1px solid #FFE3D0; padding:8px; color:#fff; font-size:12px;}
.my-tishi span{ font-size:16px; font-weight:bold;}
.youhuim .wsy{ font-size:14px; background:#f60; padding:2px 5px; color:#fff; border-radius:3px;}
.youhuim-ysy .ysy{ font-size:14px; background:#C8D0D2; padding:2px 5px; color:#fff; border-radius:3px;}
.wzjs .youhuim {color:#f60; padding-top:5px;}
.wzjs .youhuim-ysy {color:#aaa; padding-top:5px;}

.jdjs-yh{ position:relative; background:#fff; padding:10px; border-bottom:1px solid #dfdfdf; min-height:94px;}
.jdjs-yh:hover{ background:#f4f4f4;}
.tpjs-yh{ position:absolute; top:10px; left:10px;}
.tpjs-yh img{ width:125px; height:94px;}


/*优惠详情*/
.yhz{ position:relative; background:#fff; padding:10px; border-bottom:1px solid #dfdfdf;}
.yhz .jiage{ padding-right:110px;}
.yhz .lq{ position:absolute; top:0px; right:10px;}
.yhz .jiage .fulijia{ font-size:25px; font-weight:normal;}
.button-lq{ display:block; padding:10px 35px; background:#f60; text-align:center;  color:#fff; border-radius:3px; font-size:16px; margin-top:5px;}
.yhz-fk{ position:relative; background:#fff; padding:10px; margin:0px 10px 10px 10px; box-shadow:0px 1px 3px #999; border-radius:3px;}
.yhz-fk .jieshao{ padding-right:110px;}
.yhz-fk .jieshao p{ line-height:22px; color:#666;}
.yhz-fk .jieshao .bt{ font-size:16px; color:#f60;}
.yhz-fk .dh{ position:absolute; top:0px; right:10px; border-left:1px solid #dfdfdf; margin:5px 0px;}
.button-dh{ display:block; padding:5px 35px; background: url(/res/images/phone/dianhua-x.png) no-repeat center 5px;  text-align:center;  color:#666; border-radius:3px; font-size:16px; padding-top:50px;}
.button-dh:hover{ background: url(/res/images/phone/dianhua-huang-x.png) no-repeat center 5px; color:#f60;}
.icon-zysx-big{ padding:9px; background:url(/res/images/phone/zysx-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:8px;}
.icon-xq-big{padding:9px; background:url(/res/images/phone/xq-hui.png) no-repeat; background-size:100%; color:#fff; margin-right:4px; position:relative; top:8px;}
.yh-bt{font-size:14px; font-weight:normal; padding:0px 10px 5px 5px; color:#212121; border-bottom:2px solid #ddd; margin-bottom:10px;}
.zysx{ position:relative; background:#FFF; padding:10px; margin:0px 10px 10px 10px; box-shadow:0px 1px 3px #999; border-radius:3px;}
.zysx p{ line-height:22px; color:#666; font-size:14px; padding-left:10px;}
.zysx-bt{font-size:14px; font-weight:normal; padding:0px 10px 5px 5px; color:#A22800; border-bottom:2px solid #FFEBCA; margin-bottom:10px;}


.nav_scroll{ position:fixed;top:0;left:0;z-index:1200;}

