body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}
/* 城市 首页 */
.Dest-city-head{position:relative;}
.Dest-city-head .head-pic img{ width:100%;}
.Dest-city-head .head-weather{position:absolute; top:1.2rem; left:10em;}
.Dest-city-head .head-weather span{display:block;color: #FFF;font-size:1rem;text-shadow: 1px 1px 0px #333;}
.Dest-city-head .head-cityName{position:absolute; top:.8rem; left:.8rem; color:#FFF; font-size:2.5rem; text-shadow: 1px 1px 0px #333; }


.comment-btn{position:absolute;bottom: 5px; right:10px; width:50px; height:25px; line-height:25px;  background:#ff9d00; border-radius:5px;}
.comment-btn a{ display:block; color:#fff;text-align:center;}
.head-impress{ position:relative; height:40px; line-height:40px; 
color: #fdbf0e; padding-left:10px;

}

.page-list-body{padding:10px;margin-right: auto;margin-left: auto; margin-bottom:.5rem;background: #FFF;}
.ntd-theme-title{position:relative; margin-bottom:5px;}
.ntd-theme-title i{position:absolute; top:-.2rem; display:block; width:2.1rem; height:2.1rem;}
.ntd-theme-title a.in-page{ position:absolute; display:block; right:.5rem; width:1.8rem; height:1.8rem; background:url(/phone/public/images/20170301/in-page.png); background-size:1.8rem;}
.ntd-theme-title i.Hebei-Tour{background:url(/phone/public/images/20170301/tit-ico01.png); background-size:2.1rem;}
.ntd-theme-title i.Hebei-Raid{background:url(/phone/public/images/20170301/tit-ico02.png); background-size:2.1rem;}
.ntd-theme-title i.Hebei-Note{background:url(/phone/public/images/20170301/tit-ico03.png); background-size:2.1rem;}
.ntd-theme-title span{display:block; padding-left:2.5rem;}
.ntd-theme-title span.tit-big{ height:1.1rem; line-height:1.1rem;font-size:1.1rem;}
.ntd-theme-title span.tit-small{height:.7rem; line-height:.7rem;font-size:.6rem; color:#da4d01;}

.page-list-body .ntd-Hebei-Raid li{position:relative; margin-top:.5rem;}
.page-list-body .ntd-Hebei-Raid .Raid-img{position:relative;}
.page-list-body .ntd-Hebei-Raid .Raid-img img{ width:100%;}
.page-list-body .ntd-Hebei-Raid .Raid-tip{position:absolute; top:10px; right:10px;z-index:999;}
.page-list-body .ntd-Hebei-Raid .Raid-tip span{display:block; font-size:1rem; color: #FFF; text-shadow: 1px 1px 0px #333;}
.page-list-body .ntd-Hebei-Raid .Raid-tip i{font-size:1.5rem; font-style:normal;}
.page-list-body .ntd-Hebei-Raid .Raid-tit{position:absolute; z-index:999;bottom:.2rem; width:100%; padding:10px; font-size:1.1rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; color:#FFF;text-shadow: 1px 1px 0px #333;}

.page-list-body .ntd-Hebei-Note li{position:relative; margin-top:.5rem;}
.page-list-body .ntd-Hebei-Note .Note-img{position:relative;}
.page-list-body .ntd-Hebei-Note .Note-img img{ width:100%;}
.page-list-body .ntd-Hebei-Note .Note-tit{position:absolute; top:.5rem; width:100%; padding:10px; font-size:1.1rem; color:#FFF;z-index:999;
text-shadow: 1px 1px 0px #333;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.page-list-body .ntd-Hebei-Note .Note-tip {color: #FFF;margin-right:.5rem; margin-top:.5rem;font-size:.9rem;text-shadow: 1px 1px 0px #333;}
.page-list-body .ntd-Hebei-Note .Note-tip span{ margin-right:.3rem;}
.page-list-body .ntd-Hebei-Note .Note-tip span.data{ margin-left:.3rem;}
.page-list-body .ntd-Hebei-Note .user-name{position: absolute; bottom:3.7rem; width:100%; color:#FFF; z-index:999; font-size:1rem; text-align:center;text-shadow: 1px 1px 0px #333;}
.page-list-body .ntd-Hebei-Note .user-info{position: absolute; bottom:.5rem; left:50%; margin-left:-1.5rem;z-index:999;}
.page-list-body .ntd-Hebei-Note .user-info .user-img{width:3rem; height:3rem; border-radius:3rem; color:#FFF; overflow:hidden;}
.page-list-body .ntd-Hebei-Note .user-info .user-img img{width:3rem; height:3rem; border-radius:3rem;border:2px solid #FFF;}


.city-impress{ background:#FFF; margin-bottom:10px;}
/* 目的地-城市-导航 */
.navbar-con {
	display: block;	
	margin-right: auto;margin-left: auto; margin-bottom:.5rem;background: #FFF;
	
}
.navbar-con ul{border-top:1px  solid #e2e2e2;}
.navbar-con li {
	float: left; width:25%;border-right:1px  solid #e2e2e2;border-bottom:1px  solid #e2e2e2;
	display: inline; height:50px; line-height:50px;
	
}
.navbar-con li:nth-child(4n+0){ border-right:none;}
.navbar-con a { 
	display: block; text-align:center; margin-top:9px;
}
.navbar-con span{display:inline-block;position:relative; top:-8px; padding-left:10px;}
.navbar-con .navbar-icon { position:relative; display:inline-block;
	width: 32px;
	height: 32px;	
	background: url(/phone/public/images/20170301/icon-place-nav6.png) no-repeat;
	overflow: hidden;
}
.navbar-con .city-guide i {
	background-position: 0 0; background-size:32px;
}
.navbar-con .human-guide i {
	background-position: 0 0px;background-size:32px;
}
.navbar-con .map-guide i {
	background-position: 0 -40px;background-size:32px;
}
.navbar-con .scenic-guide i {
	background-position: 0 -80px;background-size:32px;
}
.navbar-con .hotel-guide i {
	background-position: 0 -120px;background-size:32px;
}
.navbar-con .Specialty-guide i {
	background-position: 0 -160px;background-size:32px;
}
.navbar-con .Raiders-guide i {
	background-position: 0 -200px;background-size:32px;
}
.navbar-con .travels-guide i {
	background-position: 0 -240px;background-size:32px;
}


/* 门票 列表页 */
.ticket_list_body { margin-top:10px;margin-bottom:.5rem; padding:10px;background:#FFF;}
.ticket_list li{padding-bottom:10px; margin-bottom:10px;border-bottom: 1px solid #eaeaea;}
.ticket_list .ticket-pic{ position:relative; width:160px; height:100px; float: left;}
.ticket_list .ticket-pic .ticket-txt{ position:absolute; bottom:0; width:100%; height:25px; line-height:25px; color:#FFF; text-align:center; background-color:rgba(0,0,0,0.3);}
.ticket_list .ticket-pic .tip {position: absolute;top: 0;left: .5rem;font-size: .8rem;color: #FFF; background: #fe6400; padding: 3px 8px;}
.ticket_list .ticket-pic img{width:160px;height:100px;}
.ticket_list .ticket-info{position:relative; padding-left:170px;}
.ticket_list .ticket-tit{font-size:1rem;height: 24px; line-height:24px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.ticket_list .ticket-address{font-size:.8rem; color: #666;height: 24px;line-height:24px; margin-bottom:3px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.ticket_list .ticket-servicetag{margin-bottom:5px;}
.ticket_list .ticket-servicetag span{ display:inline-block; background:#fdbf0e; height:20px; font-size:.8rem; line-height:20px; color:#FFF; padding:0 10px; border-radius:20px;}
.ticket_list .ticket_price {color: #666; font-size:.8rem;}
.ticket_list .ticket_price strong{font-size:1.1rem; margin: 0 2px; font-weight: 400; color: #ff7d13;}
.ticket_list .ticket_price dfn{vertical-align: 8px; color: #ff7d13;vertical-align: 0;font-style: normal;}
.ticket_list .ticket_price span{ margin-left:10px;}


/* 评论头部 */
.comm-city-head{position:relative;}
.comm-city-head .head-pic img{ width:100%;}
.comm-city-head .head-cityName{position:absolute; width:100%; left:0; top:30%; color:#FFF; font-size:2.5rem; text-shadow: 1px 1px 0px #333; z-index:100; }
.comm-city-head .head-cityName h2{ text-align:center;}
.comm-city-head .head-mask{ position:absolute; left:0; top:0;background-color:rgba(51,133,255,0.5); width:100%; height:100%; z-index:99;}
.comm-city-head .city-impress{position:absolute; height:30px; line-height:30px; width:100%; text-align:center; left:0; bottom:0;background-color:rgba(19,89,192,0.8); color:#FFF;  z-index:100; }


/*----城市印象 展示标签----*/
.ctd-comment-impress {padding:10px 10px 0 10px; background:#FFF;}
.ctd-comment-impress .title{ height:30px; line-height:30px; font-size:1.2rem; margin-bottom:10px;}
.ctd-comment-impress ul{ padding-bottom:10px;border-bottom: 1px dotted #CCC;}
.ctd-comment-impress li{display: inline-block;color: #fff;padding: 8px 10px;font-size: 13px;border-radius: 3px;margin-right: 10px;float: left;margin-bottom: 10px;}
.ctd-comment-impress .a1{background: #63c799;}
.ctd-comment-impress .a2{background: #e7788e;}
.ctd-comment-impress .a3{background: #7cacf5;}
.ctd-comment-impress .a4{background: #ff9d00;}
.ctd-comment-impress .a5{background: #bada25;}
.ctd-comment-impress .a6{background: #f5c500;}

/*----城市印象 选择标签----*/
.city-label h4{font-size: 16px;color: #ff8800; border-bottom:1px solid #f3f4f6; padding:0; margin:0; height:30px; line-height:30px; margin-bottom:10px;}
.city-label .options > li{float: left;margin-right: 5px;cursor: pointer;padding: 5px 10px; margin-bottom:10px;background: #eee;border-radius: 3px;color: #666;}
.city-label .options > li.checked{background: #3498DB;color: #fff;}
.city-label .options i{width: 16px;height: 16px;display: inline-block;}
.city-label .options > li .checkbox-icon{background: url(/phone/public/images/20170301/input-unchecked.png) 0 0px no-repeat;/*默认*/}
.city-label .options > li.checked .checkbox-icon{background: url(/phone/public/images/20170301/input-checked.png) 0 0px no-repeat;/*选中*/}