/*确认订单*/
.payment_page_pic{overflow:hidden}
.payment_page_pic img{width:100%;}
.confirm_order_msg, .payway, .integral{margin-bottom:10px;background:#fff;box-shadow:0 1px 3px #e5e5e5}
.confirm_order_msg dl{display:-webkit-box;padding:1rem;margin:0;border-bottom:1px solid #f3f3f3}
.confirm_order_msg dl dt{width:150px;height:90px}
.confirm_order_msg dl dt img{width:100%;height:100%}
.confirm_order_msg dl dd{-webkit-box-flex:1;margin:0 0 0 1rem}
.confirm_order_msg dl dd span{display:block;color:#333;font-size:1.6rem}
.confirm_order_msg dl dd strong{color:#ff6b1a;font-size:1.4rem;font-weight:500}
.confirm_order_msg dl dd strong b{padding:0 3px;font-size:2.4rem;font-family:Arial}
.confirm_order_msg ul{padding:1rem;margin:0;list-style:none;color:#999;font-size:1.4rem;border-bottom:1px solid #f3f3f3}
.confirm_order_msg ul:last-child{border-bottom:0}
.confirm_order_msg ul li{padding:0.2rem 20px}
.confirm_order_msg ul li span{color:#333;display:inline-block;width:75px}
.confirm_order_msg ul li em.no{color:#ff6b1a;font-style:normal}
.confirm_order_msg ul li em.yes{color:#999;font-style:normal}
.confirm_order_msg .total{color:#333;padding:1rem;text-align:right}
.confirm_order_msg .total span{color:#ff6b1a;font-size:2rem}
.integral p{margin:0 1rem;padding:1rem 0;font-size:1.4rem;position:relative}
.integral p.tl{border-bottom:1px solid #eee}
.integral p.tl span{color:#999;padding-left:1rem;font-size:1.2rem}
.integral p.use strong{color:#ff6b1a;padding:0 3px;font-weight:500}
.payway ul{padding:0 1rem;margin:0;list-style:none}
.payway ul li{padding:1rem 0;border-bottom:1px solid #eee}
.payway ul .l1{font-size:1.4rem}
.payway ul .l1 strong{color:#22a4e0;font-weight:500;padding-left:20px}
.payway ul .l1 span{color:#333;float:right}
.payway ul .l2{font-size:1.4rem}
.payway ul .l2 p{padding:0.5rem 0;margin:0}
.payway ul .l2 p strong{color:#333;font-weight:500;padding-left:20px}
.payway ul .l2 p em{float:right;font-style:normal;font-size:1.6rem;padding-right:20px}
.payway ul .l2 p span{color:#ff6b1a;float:right;font-size:2rem;padding-right:20px}
.payway ul .l3:after{content:'.';display:block;width:0;height:0;clear:both;overflow:hidden;}
.payway ul .l3 a{float:left;display:block;width:33.333333%;padding:0.3rem; padding-left:20px;}
.payway ul .l3 a img{width:100%;border-radius:10px;border:1px solid #d6d6d6}
.payway ul .l3 a.on img{border:1px solid #22a4e0}

/* 微信 */
.order-pay-tit{
    height:40px;
    line-height:30px;
    padding-left:45px;
    background:url("../images/mobile/weixin-pay-fs.png") no-repeat 0 0;
    background-size:40px auto}
.pay-loadcg{
    margin:0 1rem;
    padding:1.5rem 0 1.5rem 4.5rem;
    border-bottom:1px solid #dfdfdf;
    background:url("../images/mobile/weixin-pay-fs.png") no-repeat 0 -30px;
    background-size:40px auto}
.pay-loadcg h3{
    padding:0;
    margin:0;
    font-size:1.6rem;
    font-weight:500}
.pay-loadcg p{
    padding:0;
    margin:0;
    color:#f00;
    margin-top:0.5rem;
    line-height:1.8rem;
    font-size:1.4rem}
.pay-txt{
    color:#888;
    padding:0 2rem 2rem;
    font-size:1.4rem}
.pay-txt p{
    padding:0;
    margin:0;
    margin-top:1rem}
.pay-txt p span{
    color:#f00}
